<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h4{
            color: red;
        }
    </style>
</head>

<body>
    <div>
        <form>
            <label for="amount">Choose Expenseamount:</label>
            <input type="number" id="amount" name="amount">
            <label for="description">Choose Description:</label>
            <input type="text" id="description" name="description">
            <label for="options">Choose Category:</label>
            <select id="options" name="category">
                <option value="vacation">Vacation</option>
                <option value="movie">Movie</option>
                <option value="food">Food</option>
                <option value="shoping">Shoping</option>
                <option value="phone">Phone</option>
                <option value="others">Others</option>
            </select>
            <input type="button" value="Add Expense" id="add">
            <!-- <button type="submit">Add Expense</button> -->
        </form>
    </div>
    <ul id="lists">
    </ul>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        var ul = document.getElementById('lists');
        var add = document.getElementById('add');
        let expence_amount = document.getElementById('amount');
        let description = document.getElementById('description');

        add.addEventListener('click', addExpense);


        function addExpense() {
            let ind = document.getElementById("options").selectedIndex;
            let category = document.getElementsByTagName("option")[ind];

            const newExpense = {
                amount: expence_amount.value,
                description: description.value,
                category: category.value,
            }

            axios.post('http://localhost:3000/expense/add-expense', newExpense)
                .then(response => {
                    showDataOnScreen(response.data.newExpenseDetail)
                    console.log();
                })
                .catch(err => {
                    ul.innerHTML = ul.innerHTML+`<h4 color:'red'>PLEASE FILL ALL FEILDS</h4>`
                    console.log(err)
                });

        }


        window.addEventListener("DOMContentLoaded", () => {
            axios.get('http://localhost:3000/expense/get-expenses')
                .then(response => {
                    for (var i = 0; i < response.data.allExpense.length; i++) {
                        showDataOnScreen(response.data.allExpense[i])
                    }
                })
                .catch(err => console.error(err));
        })


        function showDataOnScreen(expense) {
            ul.innerHTML = ul.innerHTML + `<li id="${expense.id}"> ${expense.expense_amount} - ${expense.description} - ${expense.category} - <button onclick="editExpense('${expense.id}','${expense.expense_amount}','${expense.description}','${expense.category}')">Edit</button> <button onclick="deleteExpense(${expense.id})">Delete</button></li>`;
        }


        function deleteExpense(expenseId) {
            axios.delete(`http://localhost:3000/expense/delete-expense/${expenseId}`)
                .then((response) => {
                    removeExpensefromScreen(expenseId);
                })
                .catch((err) => {
                    console.log(err);
                })

            event.preventDefault();
        }


        function editExpense(expenseId, amount, desc, cate) {
            expence_amount.value = amount;
            description.value = desc;
            deleteExpense(expenseId);
        }


        function removeExpensefromScreen(expenseId) {
            const childNodeToBeDeleted = document.getElementById(expenseId);
            if (childNodeToBeDeleted)
                ul.removeChild(childNodeToBeDeleted);
        }

    </script>
</body>

</html>